<div class="container">
  <div class="row">
    <% @customer.reviews.each do |review| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <h4 class="thumbnail-title"></h4>
          <div class="thumbnail-body">
            <dl>
              <dt>Description</dt>
              <dd><%= review.review %></dd>

              <dt>Cost</dt>
              <dd><%= review.cost %></dd>
            </dl>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

