<!-- Validation failure messages -->

<% if @service_provider.errors.any? %>
<% @service_provider.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<!-- Responsive panel example -->

<form action="/create_service_provider" method="post">
  <!-- Hidden input for authenticity token to protect from forgery -->
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


      <div class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="company_name">Company Name</label>
          <input type="text" id="company_name" name="company_name" placeholder="Company Name" class="form-control" value="<%= @service_provider.company_name %>">
        </div>
      </div>

<br>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-success">
            Create Service Provider
          </button>
          or
          <a href="/service_providers">Cancel</a>
        </div>
      </div>
</form>
